h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #2a51a5;
    font-style: italic;
}

h3 {
    color: #2a51a5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carousel {
    margin-bottom: 3rem;
}
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

h2 {
    font-size: calc(1.325rem + .9vw);
}

.ti {
    font-weight: 400 !important;
}

.danger {
    color: #dc3545;
}