<nav class="navbar navbar-expand-lg navbar-light bg-nav">
    <div class="container-md">
        <a class="navbar-brand" href="#"><img src="../../../assets/logoWeb.png" alt="" width="175" height="72"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item nav-a">
                    <a class="nav-link active navbar-brand" aria-current="page" href="#" routerLink="/home">Inicio</a>
                </li>                    
                <li class="nav-item dropdown nav-a">
                    <a class="nav-link dropdown-toggle active navbar-brand" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Servicios
                    </a>
                    <ul class="dropdown-menu menu">
                        <li><a class="dropdown-item text-a" href="#" routerLink="./creditos">Creditos</a></li>
                        <li><a class="dropdown-item text-a" href="#" routerLink="./ahorrros">Ahorros</a></li>
                        <li><a class="dropdown-item text-a" href="#" routerLink="./seguro">Seguro</a></li>
                    </ul>
                </li>
                <li class="nav-item nav-a">
                    <a class="nav-link active navbar-brand" href="html/nosotros.html">Sobre Nosotros</a>
                </li>
                <li class="nav-item nav-a">
                    <a class="nav-link active navbar-brand" href="html/convocatorias.html">Convocatorias</a>
                </li>
            </ul>                            
        </div> 
        <button class="btn btn-outline button" type="submit" data-bs-toggle="modal" data-bs-target="#loginModal">Acceder</button> 
        <button class="btn btn-outline button" type="submit" data-bs-toggle="modal" data-bs-target="#registerModal">Registrar</button>           
    </div>
</nav>
